* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(6, 154, 63);
    font-family: 'Poppins', sans-serif;
    margin-top: 5vh;
}

.header {
    text-align: center;
    color: antiquewhite;
}

.middle {
    background-color: rgb(41, 40, 40);
    height: 127vh;
    width: 20vw;
    margin-left: 38.5vw;
    border-radius: 0.8%;
    color: antiquewhite;
    padding: 2vw;
}

.padform {
    margin-top: 10px;
}

#place {
    height: 4.5vh;
    width: 20vw;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(21, 39, 39);
}

#comment {
    height: 12vh;
    width: 20vw;
    background-color: rgb(21, 39, 39);
    color: antiquewhite;
}

.subm {
    height: 5.8vh;
    width: 6vw;
    border-radius: 8%;
    border-color: rgb(6, 154, 63);
    background-color: rgb(6, 154, 63);
    color: antiquewhite;
}

.drop {
    color: antiquewhite;
}

.t {
    color: antiquewhite;
}